{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="text-center">
    <h1> {% block title %} {% endblock %}</h1>
    <hr />
</div>
<form class="form" method="POST">
    {{ form.hidden_tag() }}
    {% block form %} {% endblock %}
    {{ wtf.form_field(form.description) }}
    {{ wtf.form_field(form.sched) }}
    {{ wtf.form_field(form.url) }}
    <div class="text-center">
        {{ wtf.form_field(form.submit) }}
    </div>
</form>
{% endblock %}